//=================================================
// Header
//=================================================

$header_item_space: $space_xs;
.site-header {
  position: relative;
  margin-bottom: 100px;
  @media (max-width: 780px) {
    flex-direction: column-reverse;
  }
  .header-content {
    .header-left {
      padding-right: 2rem;
      h1 {
        font-weight: bold;
        font-size: 4vw;
      }
      .about {
        color: #767676;
        text-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.5);
      }
    }

    .header-right {
      // background image
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: -10%;
        right: 0;
        left: -10%;
        width: 120px;
        z-index: -10;
        // background-image: url("/src/assets/img/bg/header_bg_img.png");
        background-image: url("../img/bg/header_bg_img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 48% 100%;
        @media (max-width: 1000px) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .header-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
