//=================================================
// Main
//=================================================

/*=============================
// All page
=============================*/
// reseting margin and padding
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}
main {
  padding-top: $main_padding_t;
  padding-bottom: $main_padding_b;

  &.content-no-spacing {
    padding-top: 0;
    padding-bottom: 0;

    #page-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.content-top-spacing {
  padding-top: $main_padding_t;
}

.content-bottom-spacing {
  padding-bottom: $main_padding_b;
}

@media (max-width: 780px) {
  .wrapper {
    padding: 0 !important;
  }
}
