//=================================================
// Navbar
//=================================================

.navbar-nav {
  font-size: $font_size_md;
  @extend .list-unstyled;
  margin-bottom: 0 !important;
  background-color: #fff;
  transition: 0.2s ease-out;
  h3 {
    text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }

  li {
    margin-bottom: 0;
  }
  .nav-items-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    @media (max-width: 780px) {
      flex-direction: row-reverse;
    }

    // dropdown
    .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .dropdown-content {
        display: none;
        margin-top: 10px;
        min-width: 160px;
        z-index: 1;
        transition: all 0.3s ease-out;
        text-align: center;
      }
      // custom burgermenu
      .burger-btn-container {
        cursor: pointer;
        .bar1,
        .bar3 {
          width: 35px;
          height: 2px;
          background-color: black;
          margin: 6px 0;
          transition: 0.4s;
        }
        .invis {
          width: 35px;
          height: 2px;
          margin: 6px 0;
        }

        // rotates burgers to x shape
        .burgerX {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .burgerY {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }
}
